* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: darkblue;
    margin: 15px 0;
    text-align: center;
}

main {
    padding: 1rem;
}

main h1 {
    border-bottom: 1px solid blue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 130px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Seletores de classe */
.caixa {
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid aside {
    grid-row: 1;
}

/* .grid aside {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid main {
    grid-row: 1/2;
    grid-column: 2/3;
} */

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}